form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 500px;
  height: 400px;
  position: relative;
  top: 100px;
  //border: white 1px solid;
  //border-radius: 25px;
  //background: black;
}
mat-form-field{
  width: 400px;
  margin-top: 15px;
}
button{
  align-self: center;
}
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: black !important;
}
